<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!----se configura el usuario de registo--->
		<title>registo</title>
		<link rel="stylesheet" href="/resources/css/Registro.css" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="container">
			<div class="row g-3 container">
				<div class="col">
					<div class="rounded">
						<img class="logo" src="/resources/img/2.png" alt="" /><br />
					</div>
				</div>
				<div class="col">
					<h6 class="card-title">
						Se requieren estos datos para la la creacion de un usuario y la creacio de
						su perfil
					</h6>
				</div>
				<h5 class="card-title">Datos Personales</h5>
				<div class="col-4">
					<label class="font-weight-bold"
						>Nombres<span class="text-danger">*</span></label
					>
					<input
						type="text"
						class="form-control"
						placeholder=""
						aria-label="First name"
					/>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Apellidos<span class="text-danger">*</span></label
					>
					<input
						type="text"
						class="form-control"
						placeholder=""
						aria-label="apellido"
					/>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Tipo Documento<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Ti</option>
						<option value="2">Cc</option>
						<option value="3">Pasaporte</option>
					</select>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Numero Documento<span class="text-danger">*</span></label
					>
					<input type="number" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Genero<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Femenino</option>
						<option value="2">Masculino</option>
						<option value="3">otro</option>
					</select>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Fecha Vinculacion<span class="text-danger">*</span></label
					>
					<input type="date" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Remuneracion<span class="text-danger">*</span></label
					>
					<input type="text" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Estado Perfil<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Activo</option>
						<option value="2">Inactivo</option>
					</select>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Email<span class="text-danger">*</span></label
					>
					<input type="email" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Telefono<span class="text-danger">*</span></label
					>
					<input type="text" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Direccion<span class="text-danger">*</span></label
					>
					<input type="text" class="form-control" placeholder=" " />
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Tipo Usuario<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Lider Metodologia</option>
						<option value="2">Usuario Metogologia</option>
						<option value="3">Usuario Externo</option>
					</select>
				</div>
				<div class="col-4">
					<label class="font-weight-bold"
						>Area Desempeño<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Semillas del futuro</option>
						<option value="2">Union entre comunas</option>
						<option value="3">Cuerpos gramaticales</option>
						<option value="4">Plantas de memoria</option>
						<option value="5">Partido de las doñas</option>
					</select>
				</div>
				<div class="col-8">
					<label class="font-weight-bold"
						>Informacion Adiciconal<span class="text-danger">*</span></label
					>
					<input type="text" class="form-control" placeholder=" " />
				</div>
				<div style="display: inline">
					<input type="submit" class="btn btn-primary" value="enviar" />
					<a href="/landi_page" class="btn btn-danger">Cancelar</a>
				</div>
			</div>
			<br />
			<div class="row g-3 container">
				<h5 class="card-title">Crear Perfil</h5>
				<div class="col-6">
					<label class="font-weight-bold"
						>Nombres<span class="text-danger">*</span></label
					>
					<input
						type="text"
						class="form-control"
						placeholder=" "
						aria-label="name"
					/>
				</div>
				<div class="col-6">
					<label class="font-weight-bold"
						>Rol<span class="text-danger">*</span></label
					>
					<select class="form-select" aria-label="Default select example">
						<option selected></option>
						<option value="1">Lider Metodologia</option>
						<option value="2">Usuario Metogologia</option>
						<option value="3">Usuario Externo</option>
					</select>
				</div>
				<div class="col-6">
					<label class="font-weight-bold"
						>Usuario<span class="text-danger">*</span></label
					>
					<input type="text" class="form-control" placeholder=" " />
				</div>
				<div class="col-6">
					<label class="font-weight-bold"
						>Contraseña<span class="text-danger">*</span></label
					>
					<input type="password" class="form-control" placeholder=" " />
				</div>
				<div style="display: inline">
					<input type="submit" class="btn btn-primary" value="Crear" />
					<a href="/landi_page" class="btn btn-danger">Cancelar</a>
				</div>
			</div>
		</div>
	</body>
</html>
