<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/Registro.css">
</head>
<!-- acase configura el login para iniciar al sistema
 -->
 
<body> 
    <div class="container-fluid">
            <!-- desde aca empieza el primer container
                de tarjetas las tres tarjetas para cada una en container col --> 
                  <br>
                <div class="row align-items-start">
                    <!-- barra de la navegacion-->
                 <div class="col-6">
                   <nav class="navbar navbar-expand-lg navbar-light bg-light">
                   <div class="container-fluid">
                     <a class="navbar-brand" href="/login">Inicio</a>
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarScroll">
                       <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                         <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Metodologia
                           </a>
                           <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                             <li><a class="dropdown-item" href="#">Action</a></li>
                             <li><a class="dropdown-item" href="#">Another action</a></li>
                             <li><hr class="dropdown-divider"></li>
                             <li><a class="dropdown-item" href="#">Something else here</a></li>
                           </ul>
                         </li>
                       </ul>
                       <form class="d-flex">
                         <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                         <button class="btn btn-outline-success" type="submit">Buscar</button>
                       </form>
                     </div>
                   </div>
                 </nav>
                </div>  
            </div>  
              <br>
                    <div class=" col-">
                        <div class="card mx-4 my-3">
                            <div class="card-body border border-5"> 
                                <h5 class="card-title">Usuarios En Sistema</h5>
                                <div class="row border border-5 mx-4 my-3">
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col-1">#</th>
                                            <th scope="col-1">Nombre</th>
                                            <th scope="col-1">Apellido</th>
                                            <th scope="col-1">T.Documento</th>
                                            <th scope="col-1">Documento</th>
                                            <th scope="col-1">Genero</th>
                                            <th scope="col-1">Telefono</th>
                                            <th scope="col-1">Email</th>
                                            <th scope="col-1">Direccion</th>
                                            <th scope="col-1">Metodologia</th>
                                            <th scope="col-1">Usuario</th>
                                            <th scope="col-1">F.Vinculacion</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                  <div class="col-1 mx-1 my-4">
                                    <div class="form-group">
                                      <a href="/registrous" class="btn btn-success">Guardar</a>
                                    </div>  
                                  </div>
                                  <div class="col-1 mx-1 my-4" >
                                      <div class="form-group ">
                                        <a href="/plantilla" class="btn btn-success">Buscar</a>
                                      </div> 
                                  </div>
                                  <div class="col-1 mx-1 my-4" >
                                     <div class="form-group">
                                          <a href="/tabla" class="btn btn-success">Editar</a>
                                      </div>   
                                  </div> 
                                  <div class="col-1 mx-1 my-4" >
                                    <div class="form-group">
                                      <a href="/tabla" class="btn btn-success">Eliminar</a>
                                   </div>   
                                 </div> 
                                 <div class="col-1 mx-1 my-4" >
                                     <div class="form-group">
                                      <a href="/tabla" class="btn btn-success">Inventario</a>   
                                    </div>   
                                  </div>
                              </div>   
                            </div>
                        </div>
                    </div>        
    </div>
</body>
</html>